<!DOCTYPE html>
<html lang="en">

<head>
    <title>MastoVue | Mastodon Timeline Viewer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma.min.css" />
    <link rel="stylesheet" href="css/bulma-checkradio.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="/style.css">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="script/axios.min.js"></script>
    -->
    <script src="script/vue.js"></script>
    <script src="script/vue-router.js"></script>
    <script defer src="script/all.js"></script>
    <script src="script/moment.min.js"></script>
    <script src="script/axios.min.js"></script>
    <script src="/script.js" defer></script>
</head>

<body>
    <div id="vue">
        <section class="section">
            <div class="container">
                <div id="toots" v-if="toots">
                    <article v-for="toot in toots" class="box media">

                        <div class="media-left">
                            <a :href="toot.account.url">
                                <figure class="image is-64x64"><img :src="toot.account.avatar_static" alt="Avatar">
                                </figure>
                            </a>
                        </div>

                        <div class="media-content">
                            <a :href="toot.account.url">
                                <div class="content">
                                    <p>
                                        <strong>{{toot.account.display_name}}</strong>
                                        <small>@{{toot.account.acct}}</small>
                                    </p>
                                </div>
                            </a>

                            <p v-html="toot.content"></p>
                            <a v-for="media in toot.media_attachments" :href="toot.url">
                                <figure class="attachement"><img :src="media.preview_url"></figure>
                            </a>
                            <small><a :href="toot.uri">{{formatDate(toot.created_at)}}</a></small>
                        </div>

                    </article>
                </div>

                <br>

                <div v-if="loaded & toots.length==0">
                    <p>
                        No Toots found.
                    </p>
                    <p v-if="local">
                        You only searched this instance. For more results search for federated results. <a href="#"
                            @click="local=false; showTag();">Try now?</a>
                    </p>
                </div>

                <button v-if="nextUrl" @click="loadToots()" :class="{'is-loading':loading}"
                    class="button is-primary is-outlined is-large is-fullwidth">Load more…</button>


                <table v-if="toots.length>0" class="table is-fullwidth">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Toots</th>
                            </tr>
                        </thead>
                        <tr v-for="(tootcount, user) in users">
                            <td><a :href="'https://'+instance+'/@'+user">@{{user}}</a></td>
                            <td>{{tootcount}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                Made by <strong><a href="https://vis.social/@Luca">@Luca@vis.social</a></strong>. Adapted by <strong><a href="https://social.tchncs.de/@cami">@cami@social.tchncs.de</a></strong>. VueJS version of
                    <a href="https://mastoview.glitch.me/">Mastoview</a>. Licensed under
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Inspired by <a
                        href="http://www.unmung.com/mastoview">unmung Mastoview</a>.
                </p>
            </div>
        </footer>
    </div>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="script/button.js"></script>
</body>

</html>
